<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
		<!--<img src="../static/8Bits/anigif.gif" alt="Foto">-->
        <div>
            <div class='center'>
                <div class='title'>Face2Sprite &#128126;</div>
                <p id='description'>Make your custome character</p>
                <div class='content'>
                    <div class='no-display'>
                        <input id='file-input'
                               class='no-display'
                               type='file'
                               name='file'
                               accept='image/*'
                               onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
                    <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div>
                    <div id='img-horitz'>
						<div id='left'>
							<img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
						</div>
						<p id='flecha' height='200' class='no-display'>&#10145;</p>
						<div id='right'>
							<img id='bits8' class='no-display' alt='Photo 8bits' height='200'>
						</div>
                    </div>
                    <p id='yourResult' class='no-display'>Your attributes:</p>
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                    <!--<div class='result-label'>
                        <label id='result-label-8bits'></label>
                    </div>-->
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
                    </div>
                </div>
                <br><br>
                <div id='list'>
					<details>
						<summary>Attributes</summary>
						<ul>
							<li>5_o_Clock_Shadow</li>
							<li>Arched_Eyebrows</li>
							<li>Attractive</li>
							<li>Bags_Under_Eyes</li>
							<li>Bald</li>
							<li>Bangs</li>
							<li>Big_Lips</li>
							<li>Big_Nose</li>
							<li>Black_Hair</li>
							<li>Blond_Hair</li>
							<li>Blurry</li>
							<li>Brown_Hair</li>
							<li>Bushy_Eyebrows</li>
							<li>Chubby</li>
							<li>Double_Chin</li>
							<li>Eyeglasses</li>
							<li>Goatee</li>
							<li>Gray_Hair</li>
							<li>Heavy_Makeup</li>
							<li>High_Cheekbones</li>
							<li>Male</li>
							<li>Mouth_Slightly_Open</li>
							<li>Mustache</li>
							<li>Narrow_Eyes</li>
							<li>No_Beard</li>
							<li>Oval_Face</li>
							<li>Pale_Skin</li>
							<li>Pointy_Nose</li>
							<li>Receding_Hairline</li>
							<li>Rosy_Cheeks</li>
							<li>Sideburns</li>
							<li>Smiling</li>
							<li>Straight_Hair</li>
							<li>Wavy_Hair</li>
							<li>Wearing_Earrings</li>
							<li>Wearing_Hat</li>
							<li>Wearing_Lipstick</li>
							<li>Wearing_Necklace</li>
							<li>Wearing_Necktie</li>
							<li>Young</li>
						</ul>
					</details>
				</div>
            </div>
        </div>
    </body>
</html>
